#logo{
    margin: auto;
    width: 200px;
    height: 200px;
    display: flex;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fundo{
    position: sticky;
    top: 0%;
}

a{
    color: black;
}

a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

#cell:hover{
    margin: auto;
    width: 400px;
    height: 300px;
    display: flex;
}

#cell{
    margin: auto;
    width: 300px;
    height: 200px;
    display: flex;
}

h2{
    text-align: center;
}

header{
    background: linear-gradient(0deg, rgba(172,187,222,1) 0%, rgba(62,73,213,1) 100%, rgba(80,90,227,1) 100%);
}

a{
    text-decoration: none;
}