a:hover{
    color: rgb(63, 25, 236);
}

a:visited{
    color: green;
}

button:active{
    color: blueviolet;
    width: 100px;
    background-color: darkgoldenrod;
}
input:focus{
    color: blueviolet;
    background-color: darkkhaki;
}
